<a href="https://colab.research.google.com/github/janspf/Pandas-XPTO/blob/main/Projeto_Pandas_Individual.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
# utilização de base de dados
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQI152IpgRhcBTVWmGXP-oEQy4MNRSHJIQ29nocdEdOtNIpSE9ENGKUD3JeL6YHoA/pub?gid=1469769408&single=true&output=csv')
df.head()

,Idade,Demissão,Viagem de negócios,Diárias recebidas,Departamento,Distância de Casa,Escolaridade,Área de Formação,Número de contratos de trabalho na empresa,ID Funcionário,...,Satisfação nas relações Não trabalho,Jornada padrão de trabalho,opção de remaunração variável em ações,Total de anos trabalhados,Qtde de treinamentos realizados no último ano,Equilíbrio vida trabalho,Total de anos trabalhados na empresa,Anos trabalhados na função atual,Anos desde a última promoção,Anos trabalhando com o atual gestor
0,41,Sim,Viaja raramente,1102,Vendas,1,2,Ciências Humanas,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,Não,Viaja frequentemente,279,Pesquisa e Desenvolvimento,8,1,Ciências Humanas,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Sim,Viaja raramente,1373,Pesquisa e Desenvolvimento,2,2,Outras,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,Não,Viaja frequentemente,1392,Pesquisa e Desenvolvimento,3,4,Ciências Humanas,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,Não,Viaja raramente,591,Pesquisa e Desenvolvimento,2,1,Ciências Médicas,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
# calculando medidas de estatística descritiva para os atributos
descricao = df.describe()
print(descricao)

             Idade  Diárias recebidas  Distância de Casa  Escolaridade  \
count  1470.000000        1470.000000        1470.000000   1470.000000
mean     36.923810         802.485714           9.192517      2.912925
std       9.135373         403.509100           8.106864      1.024165
min      18.000000         102.000000           1.000000      1.000000
25%      30.000000         465.000000           2.000000      2.000000
50%      36.000000         802.000000           7.000000      3.000000
75%      43.000000        1157.000000          14.000000      4.000000
max      60.000000        1499.000000          29.000000      5.000000

       Número de contratos de trabalho na empresa  ID Funcionário  \
count                                      1470.0     1470.000000
mean                                          1.0     1024.865306
std                                           0.0      602.024335
min                                           1.0        1.000000
25%                                           1.0      491.250000
50%                                           1.0     1020.500000
75%                                           1.0     1555.750000
max                                           1.0     2068.000000

       Nível de Satisfação com o ambiente de trabalho  Salário por hora  \
count                                     1470.000000       1470.000000
mean                                         2.721769         65.920408
std                                          1.093082         20.337481
min                                          1.000000         30.000000
25%                                          2.000000         48.000000
50%                                          3.000000         66.000000
75%                                          4.000000         84.000000
max                                          4.000000        100.000000

       Nível de envolvimento com o trabalho  Nível hierárquico  ...  \
count                           1470.000000        1470.000000  ...
mean                               2.729932           2.063946  ...
std                                0.711561           1.106940  ...
min                                1.000000           1.000000  ...
25%                                2.000000           1.000000  ...
50%                                3.000000           2.000000  ...
75%                                3.000000           3.000000  ...
max                                4.000000           5.000000  ...

       Satisfação nas relações Não trabalho  Jornada padrão de trabalho  \
count                           1470.000000                      1470.0
mean                               2.712245                        80.0
std                                1.081209                         0.0
min                                1.000000                        80.0
25%                                2.000000                        80.0
50%                                3.000000                        80.0
75%                                4.000000                        80.0
max                                4.000000                        80.0

       opção de remaunração variável em ações  Total de anos trabalhados  \
count                             1470.000000                1470.000000
mean                                 0.793878                  11.279592
std                                  0.852077                   7.780782
min                                  0.000000                   0.000000
25%                                  0.000000                   6.000000
50%                                  1.000000                  10.000000
75%                                  1.000000                  15.000000
max                                  3.000000                  40.000000

       Qtde de treinamentos realizados no último ano  \
count                                    1470.000000
mean                                        2.799320
std                                         1.289271
min                                         0.000000
25%                                         2.000000
50%                                         3.000000
75%                                         3.000000
max                                         6.000000

       Equilíbrio vida trabalho  Total de anos trabalhados na empresa  \
count               1470.000000                           1470.000000
mean                   2.761224                              7.008163
std                    0.706476                              6.126525
min                    1.000000                              0.000000
25%                    2.000000                              3.000000
50%                    3.000000                              5.000000
75%                    3.000000                              9.000000
max                    4.000000                             40.000000

       Anos trabalhados na função atual  Anos desde a última promoção  \
count                       1470.000000                   1470.000000
mean                           4.229252                      2.187755
std                            3.623137                      3.222430
min                            0.000000                      0.000000
25%                            2.000000                      0.000000
50%                            3.000000                      1.000000
75%                            7.000000                      3.000000
max                           18.000000                     15.000000

       Anos trabalhando com o atual gestor
count                          1470.000000
mean                              4.123129
std                               3.568136
min                               0.000000
25%                               2.000000
50%                               3.000000
75%                               7.000000
max                              17.000000

[8 rows x 26 columns]

In [ ]:
# distribuição de frequência para atributos quantitativos
df['idade_faixa'] = pd.cut(df['Idade'], bins=5)  # Agrupando a idade em 5 faixas
distribuicao_idade = df['idade_faixa'].value_counts().sort_index()
print("Distribuição de Frequência para Idade:")
print(distribuicao_idade)

# distribuição de frequência para atributos qualitativos
distribuicao_departamento = df['Departamento'].value_counts()
print("\nDistribuição de Frequência para Departamento:")
print(distribuicao_departamento)

distribuicao_cargo = df['Cargo'].value_counts()
print("\nDistribuição de Frequência para Cargo:")
print(distribuicao_cargo)

Distribuição de Frequência para Idade:
idade_faixa
(17.958, 26.4]    162
(26.4, 34.8]      489
(34.8, 43.2]      472
(43.2, 51.6]      223
(51.6, 60.0]      124
Name: count, dtype: int64

Distribuição de Frequência para Departamento:
Departamento
Pesquisa e Desenvolvimento    961
Vendas                        446
Recursos HumaNãos              63
Name: count, dtype: int64

Distribuição de Frequência para Cargo:
Cargo
Executivo de vendas        326
Pesquisador cientista      292
Técnico de Laboratório     259
Diretor de manufatura      145
Reprentante de saúde       131
Gerente                    102
Representante de vendas     83
Diretor de pesquisa         80
Recursos HumaNãos           52
Name: count, dtype: int64